
.profile{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: #24243c;
}
.profile-left{
    display: flex;
    flex-direction: column;
}
.profile-right{
    max-width: 500px;
    max-height: 500px;
}

.title2{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #1e5aff9b;
    border-radius: 5px;
}

.verdict{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}